
<h2 style="margin-bottom:15px;margin-top:15px;">CMS YÖNETİMİ</h2>
<a href="/admin/AdminUser" class="btn btn-primary" style="margin-bottom:15px;">Geri Git</a>


<form action="/admin/AdminUser/Insert" method="post">

    <input name="Name" class="form-control" placeholder="Ad Soyad :" style="margin-top:15px;" />
    <input name="Email" class="form-control" placeholder="Email :" style="margin-top:15px;" />
    <input name="Password" class="form-control" placeholder="Şifre :" style="margin-top:15px;" />
    <input name="City" class="form-control" placeholder="Şehir :" style="margin-top:15px;" />
    <input name="Phone" class="form-control" placeholder="Telefon" style="margin-top:15px;" />

    <input type="submit" value="Kaydet" class="btn btn-primary" style="margin-top:15px;" />
</form>

@if (ViewBag.Mesaj != null)
{
    <div class="alert alert-info">@ViewBag.Mesaj</div>
}